html,
body {
	padding: 0;
	margin: 0;
	height: 100vh;
}

body {
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-color: #222222;
	font-family: sans-serif;
}

.drums-buttons {
	width: 500px;
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	justify-content: flex-start;
	margin-bottom: 100px;
}

main {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	overflow: hidden;
}

.drums-buttons button {
	width: 100px;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 48px;
	color: #ffffff;
	border: 2px solid gray;
	border-radius: 10%;
	background-color: #111111;
	text-transform: uppercase;
}

.channels {
	width: 800px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1px;
}

.channelContainer {
	display: flex;
	align-items: center;
	gap: 1px;
	width: 100%;
}

.recordButton,
.playButton {
	border-radius: 50%;
	width: 30px;
	height: 30px;
	background: #333;
	border: 0;
	position: relative;
	outline: 0;
	flex-shrink: 0;
}

.recordButton::after {
	position: absolute;
	content: "";
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background: #c52424;
	left: calc(50% - 6px);
	top: calc(50% - 6px);
}

.playButton::after {
	position: absolute;
	content: "";
	width: 0;
	height: 0;
	border-top: 8px solid transparent;
	border-left: 16px solid #00aa00;
	border-bottom: 8px solid transparent;
	left: calc(50% - 6px);
	top: calc(50% - 7px);
}

.playButton.stopButton::after {
	border: 7px solid #c52424;
}

.progressBar {
	width: 100%;
	height: 15px;
	background: #666666;
	position: relative;
	margin-left: 50px;
	border-radius: 3px;
}

.progressBar span {
	position: absolute;
	height: 100%;
	background: #ffffff;
	top: 0;
	left: 0;
	right: 0;
	transform-origin: left;
	transform: scaleX(0);
}

.timeMoment {
	position: absolute;
	height: 100%;
	top: 0;
	width: 2px;
	background: #ff0000;
}

/* The animation of progress bar */
@keyframes progressBarAnim {
	from {
		transform: scaleX(0);
	}
	to {
		transform: scaleX(1);
	}
}
